<header>
  <a href="/"><h1 class="title">Daily Notes</h1></a>
  <a class="create" href="/add"><span class="button"><label>create</label></span></a>
  <a class="back"><span class="button"><label>back</label></span></a>
</header>